@model Web.App.Models.CustomConnection
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddConnection</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <div class="container">
        <div class="toolbar">
            <div class="toolbar-logo">
                <h2 class="toolbar-title">DashCore</h2>
            </div>
            <div class="toolbar-content">
                <div style="padding-left: 10px; padding-right: 10px; text-align: center; height: 27px;">

                </div>
                <div class="toolbar-link">
                </div>
            </div>
        </div>
        <div class="content">

            <button id="addConn" class="">Back To Home</button>

            <h4>Add New Oracle Connection</h4>

            <form asp-controller="Home" asp-action="AddConnection" method="post">
                <table>
                    <tr>
                        <td>Name</td>
                        <td>@Html.TextBoxFor(x => x.Name)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Host</td>
                        <td>@Html.TextBoxFor(x => x.Host)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>@Html.TextBoxFor(x => x.Username)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>@Html.TextBoxFor(x => x.Password)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Port</td>
                        <td>@Html.TextBoxFor(x => x.Port)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SID</td>
                        <td>@Html.TextBoxFor(x => x.SID)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><button name="process" id="save" value="save">Save</button></td>
                        <td><button name="process" id="test" value="test">Test Connection</button></td>
                        <td><button name="process" id="updatemetadata" value="updatemetadata">Update Metadata</button></td>
                        <td>@ViewBag.ConnectionSuccess</td>
                    </tr>
                </table>
                @Html.HiddenFor(x => x.Id)
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function goHome() {
            console.log('go home');
            window.location = '@Url.Action("Index")'
        }

        var btnElement = document.getElementById('addConn');
        btnElement.addEventListener('click', goHome);
    </script>
</body>
</html>
